<meta http-equiv="Content-Type" content="text/html; charset="UTF-8">
<style type="text/css">

*{
margin:0px;
border:0px;
padding:0px;
overflow:hidden;

}
body{
	background-image:url(images/bg.gif);
	font-family:"宋体";
	font-size:12px;
	text-align:center;
}

