<meta http-equiv="Content-Type" content="text/html; charset="UTF-8">
<style type="text/css">

*{
       margin:0px;
       border:0px;
       padding:0px;
}
body{
	background-image:url(../Images/bg0.gif);
	background-repeat:repeat-x;
	font-family:"����";
	font-size:12px;
	text-align:center;
}

#box{
        width: 880px;
	height:100%;
	margin:0 auto;
	text-align:left;
}
#top{
    width:auto;
	height:118px;
	background-image:url(../Images/top_bg0.gif);
	overflow:hidden;
}
#close{
    width:800px;
    margin-top:10px;
	text-align:right;
	font-size:120%;  
}
#nav {
    width:100%;
    background:#BBD9EE;
    font-size:150%;
    line-height:normal;
}
#nav ul {
	margin:0;
	padding:2px 10px 0 2px;
	list-style:none;
}
#nav li {
    display:inline;
    margin:0;
    padding:0;
}
#nav a {
    float:left;
    background:url("../Images/tableft.gif") no-repeat left top;
    margin:0;
    padding:0 0 0 4px;
    text-decoration:none;
}
#nav a span {
    float:left;
    display:block;
    background:url("../Images/tabright.gif") no-repeat right top;
    padding:5px 15px 4px 6px;
    color:#666;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
#nava span {float:none;}
    /* End IE5-Mac hack */
#nav a:hover span {
      color:#66CCCC;
}
#nav a:hover {
      background-position:0% -42px;
}
#nav a:hover span {
      background-position:100% -42px;
}
#time{
    width:270px;
	float:right;
	margin-top:5px;
	font-size:90%;
}
#main{
    width:auto;
	height:auto;
	border:#66CC00;
}
#main_1{
    width:auto;
	height:35px;
	color:#009999;
	background-image:url(../Images/main_1bg.gif);
}

#main_3{
	height:auto;
	width:auto;
	background-image:url(../Images/main_3bg.gif);
	border-top:3px solid rgb(19,120,198);
}
#main_3 table {
   width:850px;
   margin-left:30px;
}
#main_3 table tr {
   height:2px;
}
#main_3 table tr td{
	width:auto;
	height:20px;
	padding-top:0px;
	font-size:90%;
	vertical-align:middle;
    border-bottom:#CCC dashed 1px; 
}
#fenye{
	text-align:center;
	width:auto;
	height:40px;
	vertical-align:middle;
	background-image:url(../Images/fenye_bg.gif);   
}
#footer1{
    width:auto;
	height:100px;
	background-image:url(../Images/footer1_bg.gif);
	overflow:hidden;
}
#footer1_1{
    margin-top:45px;
	text-align:center;
	overflow:hidden;
}
	
